<br>
<h2>NgFor</h2>
<ul>
    <li *ngFor="let item of lista">
        {{ item }}
    </li>
</ul>
<br>

<h2>NgIf</h2>
<ul *ngFor="let item of lista">
    <li *ngIf=" item !='B'" >
        {{ item }}        
    </li>    
</ul>

<br>
<h2>NgSwitch</h2> 
<ul>
    <li *ngFor="let item of lista">
        
        <span [ngSwitch]="item">
            <span *ngSwitchCase="'A'">1</span>
            <span *ngSwitchCase="'B'">2</span>
            <span *ngSwitchCase="'C'">3</span>
            <span *ngSwitchCase="'D'">4</span>
            <span *ngSwitchDefault>No existe</span>
          </span>
    </li>
</ul> 


