

<p>  
  <mat-toolbar color="primary">
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>assignment</mat-icon>
          <a href="#one">1. Directivas de atributo</a>
        </button>
        <button mat-menu-item >          
          <mat-icon>assignment</mat-icon>
          <a href="#two">2. Directivas estructurales</a>          
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#three">3. Directivas custom</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#four">4. Data binding</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#five">5. Módulos</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#six">6. Data binding</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#seven">7. Pipes</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#eight">8. Material</a>
        </button>
        <button mat-menu-item>
          <mat-icon >assignment</mat-icon>
          <a href="#nine">9. Ruteo</a>
        </button>
      </mat-menu>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
</p>

<div class="center" id="one">
    <app-d-atributo></app-d-atributo> 
</div>
    <mat-divider></mat-divider>
<div class="center" id="two">
    <app-d-estruc></app-d-estruc> 
</div>
    <mat-divider></mat-divider>
<div class="center" id="three">
  <app-d-custom></app-d-custom>
</div>
    <mat-divider></mat-divider>
<div class="center" id="four">
  <app-binding></app-binding>
</div>
    <mat-divider></mat-divider>
<div class="center" id="five">
    <router-outlet name="main"></router-outlet> 
</div>
    <mat-divider></mat-divider>
<div class="center" id="six">
  <router-outlet name="injectable"></router-outlet> 
  <router-outlet name="root-injectable"></router-outlet> 
</div>  
<mat-divider></mat-divider>
<div class="center" id="seven">Ej 7
     
</div> 
<mat-divider></mat-divider>
<div class="center" id="eight">Ej 8
     
</div> 
<mat-divider></mat-divider>
<div class="center" id="nine">Ej 9
     
</div> 
<!---->  




  
      
  